<div id="search-form-wrapper" class="card">

	<%= form_tag '/twitter_accounts', :method => 'post', :id => "search" do %>
		<%= fields_for @twitter_account do |account_form| %>
	    <%= account_form.text_field :screenname %>
	  <% end %>
  <% end %>
</div>