<div class="mentions-card card-panel blue lighten-2 z-depth-1">
	<h5>Mentions</h5>
	<div class="container">
		<div class="row">
			<% @handles.each do |handle| %>
				<div class="chip clickable waves-effect">
			    <%= handle %>
			  </div>
		  <% end %>
		</div>
	</div>
</div>