<div class="mentions-card card-panel blue lighten-2 z-depth-1">
	<h5>Mentions</h5>
	<div class="container">
		<div class="row valign-wrapper">
				<div class="chip clickable waves-effect">
			    @spacex
			  </div>
		</div>
	</div>
</div>