<div class="mentions-card card-panel blue lighten-1 z-depth-1">
	<div class="container">
		<h5>Mentions</h5>
		<div class="row valign-wrapper">
				<div class="chip hoverable clickable">
			    @spacex
			  </div>
		</div>
	</div>
</div>