<div class="container">
	<h1>Welcome!</h1>
	<p>Start exploring Twitter!</p>
	<div class="center-align">
    <%= link_to 'Get Started', new_user_registration_path, class: 'waves-effect btn red accent-2' %>
	</div>
</div>