// Place all the styles related to the tweet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet {
	padding: 16px;
	border-bottom: 1px solid #dddddd;
}
.tweet .tweet-content {
	padding-bottom: 12px;
}
.tweet i {
	font-size: 14pt;
	margin-right: 6px;
}
.tweet .tweet-info {
	color: #9a9a9a;
}