// Place all the styles related to the twitter_user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-card {
	padding: 16px;
}
.profile-card img {
	margin-right: 16px;
}
.profile-card .profile-name {
	color: white;
	margin-bottom: 0;
}
.profile-card .profile-screenname {
	color: #eee;
}

.mentions-card h5 {
	color: white;
}

ol.tweet-list {
	list-style: none;
	padding-left: 0;
}
ol.tweet-list li {
	padding: 0;
}